<!DOCTYPE html>
<html lang="en">
<% include partials/_head %>

<body>


    <% include partials/_nav %>

    <div class="container">
        <div class="row p-4">
            <div class="col-4">
                    
                <% include partials/_form %>
            </div>

            <div class="col-8">
                
                <% include partials/_list %>
            
            </div>
        </div>
    </div>

    <% include partials/_footer %>

</body>

</html>