<div class="card card-body ">
        <h2><%= action %></h2>
    <% if (task) { %>
        <form action="/update/<%= task.id %>" method="POST">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= task.title %>">
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <input type="text" class="form-control" id="description" name="description" value="<%= task.description %>">
            </div>
            
            <input type="submit" value="Enviar" class="btn btn-success btn-block">
        </form>


    <% }else{ %>
        <form action="/add" method="POST">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Coloca el título de tu tarea">
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="De qué se trata tu tarea">
            </div>
            
            <input type="submit" value="Enviar" class="btn btn-success btn-block">
        </form>
    <% } %>

       
    </div>